    .button {
        background-color: #35aa3f;
        color: #fff;
        padding: 10px 15px;
        border: none;
        cursor: pointer;
        margin-bottom: 10px;
    }
    
    .container {
        width: 30%;
        float: left;
    }
    
    
    .usuarios-container {
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 5px;
        box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    body {
        font-family: 'GOTHAM Medium' !important;
        font-size: 18px !important;
        color: #333 !important;
    }
    
    input, select {
        width: 100%; 
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 5px;
        transition: box-shadow 0.3s;
        appearance: none;
    }

    input:focus, select:focus {
        box-shadow: 0 0 5px rgba(53, 170, 63, 0.7);
    }
    
    .tabla{
        float: right;
        width: 68%;
    }